<ng-form class="form-horizontal detail-container" name="form.detail" novalidate="novalidate">
    <p>&nbsp;</p>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredInsert ? 'required' : ''}}">Commodity Id</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="commodityId" ng-model="entity.commodityId" disabled="disabled" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Commodity</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="name" ng-model="entity.name" ng-disabled="disabledUpdate" ng-required="requiredUpdate" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Description</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="description" ng-model="entity.description" ng-disabled="disabledUpdate" ng-required="requiredUpdate" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Commodity Type</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <select class="form-control" name="commodityTypeID" ng-model="entity.commodityTypeID" ng-options="t.commodityTypeID as t.commodityType for t in lookups.commoditytypes" ng-disabled="disabledUpdate" ng-required="requiredUpdate"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Commodity Group</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <select class="form-control" name="commodityTypeID" ng-model="entity.commodityGroupId" ng-options="t.commodityGroupId as t.name for t in lookups.commoditygroup" ng-disabled="disabledUpdate" ng-required="requiredUpdate"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">LOW Value High Risk REMARK</label>
        <div class="col-sm-4 ">
            <input type="checkbox" name="LOW_Value_High_Risk_Remark" ng-model="entity.loW_Value_High_Risk_Remark" ng-disabled="disabledUpdate" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">IsActive</label>
        <div class="col-sm-4 checkbox-control">
            <input type="checkbox" name="isActive" ng-model="entity.isActive" ng-disabled="disabledUpdate" />
        </div>
    </div>

  
</ng-form>