<ng-form class="form-horizontal detail-container" name="form.detail" novalidate="novalidate">
    <p>&nbsp;</p>

    <div class="form-group">
        <label class="col-sm-2 text-right control-label">System Ref No</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="fileNo" ng-model="entity.fileNo" ng-disabled="true" />
        </div>
        <div class="col-sm-6">
            &nbsp;
        </div>  
    </div>
    <div class="form-group">
        <label class="col-sm-2 text-right control-label">Vessel Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="vessel" ng-model="entity.vessel" />
        </div>
        <label class="col-sm-2 text-right control-label">Voyage</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="voyage" ng-model="entity.voyage" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Company</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="companyName" ng-model="entity.companyName" ng-disabled="true" />
        </div>
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-4">
            <textarea rows="2" class="form-control" maxlength="200" name="customerAddress" ng-model="entity.customerAddress" ng-disabled="true" />
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label ">Add Attachment:</label>
        <div class="col-sm-6">
            <input type="file" ngf-select ng-model="entity.customerfile" multiple name="file" ng-disabled="disabledUpdate" />
        </div>
        <div class="col-sm-4">
          &nbsp;
        </div>        
    </div>   

    <div ng-show="shipmentDocsList.length > 0">
        <table class="table table-striped table-bordered table-hover " template-pagination="none">
            <thead>
                <tr class="bg-thead">
                    <th class="text-left  hidden-xs">Document Name</th>
                    <th class="list-actions">Document Upload Date</th>
                    <th class="list-actions">Delete</th>
                    <th class="list-actions">Download</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shipmentDoc in shipmentDocsList">
                    <td>
                        {{shipmentDoc.docName}}
                    </td>
                    <td>
                        {{shipmentDoc.createdDate | date:'MM/dd/yyyy'}}
                    </td>                    
                    <td>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="deleteShipmentDoc($index,shipmentDoc.documentCommonID,shipmentDoc.docName)" uib-tooltip="Delete" ng-disabled="disabledUpdate"><i class="fa fa-remove"></i></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary" ng-click="downloadAttachment(shipmentDoc.documentCommonID,shipmentDoc.docName)" uib-tooltip="Download" ng-disabled="disabledUpdate"><i class="fa fa-download"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="line-primary" />
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Remarks</label>
        <div class="col-sm-4">
            <textarea rows="2" class="form-control" maxlength="250" name="lastRemarks" ng-model="entity.lastRemarks" ng-disabled="true" />
        </div>
        <label class="col-sm-2 control-label">Last Remark Date</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="lastRemarkDate" ng-model="entity.lastRemarkDate" ng-disabled="true" input-date="true" show-time="false" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Next Action Remarks</label>
        <div class="col-sm-3">
            <textarea rows="2" class="form-control" maxlength="250" name="nextActionRemarks" ng-model="entity.nextActionRemarks" />
        </div>
        <div class="col-sm-1">
            <button name="btnAdd" type="button" class="btn btn-sm btn-primary" ng-click="showNextActionRemarksModel()" action="view" uib-tooltip="View Action Remarks" ng-disabled="disabledUpdate"><i class="fa fa-pencil"></i>Previous Remarks</button>
        </div>
        <label class="col-sm-2 control-label">Next Action Due Date</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="nextActionDueDate" ng-model="entity.nextActionDueDate" ng-disabled="disabledUpdate" input-date="true" show-time="false" />
        </div>
    </div>

</ng-form>