<style>
    .modal-lg {
        width: 1200px;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title"><span ng-show="isNew">Template list</span></h3>
    
</div>

    <div class="modal-body form-horizontal detail-container"  wait-for-interpolation="true">
        <ng-form class="form-horizontal detail-container" name="form.detail" novalidate="novalidate">
            <div>
                <div class="form-group">

                    <div class="col-sm-1">
                        <label class="col-sm-2 control-label">Select</label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" name="searchOption" ng-model="selectOption1" ng-options="item.optionValue as item.optionName for item in searchOptions1"></select>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="txtsearchBox" ng-model="searchBox1" class="form-control" uib-typeahead="o.name for o in searchValues($viewValue,selectOption1)" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-sm btn-primary" ng-click="templateSearch($event,selectOption1,searchBox1)">  Search</button>
                    </div>
                </div>
                <table ng-table="templatelistTable" class="table table-striped table-bordered table-hover "  template-pagination="customPager">
                    <thead>
                        <tr class="bg-thead">
                            <th class="text-left" table-name="templatelistTable">Shipment Number</th>
                            <th class="text-left" table-name="templatelistTable">USPPI Company Name</th>
                            <th class="text-left" table-name="templatelistTable">Ultimate Consignee </th>
                            <th class="text-left" table-name="templatelistTable">Port of Export</th>
                            <th class="text-left" table-name="templatelistTable">Port of Unloading</th>
                            <th class="text-left" table-name="templatelistTable">Origin State</th>
                            <th class="text-left" table-name="templatelistTable">EIN Number</th>
                            <th class="text-left" table-name="templatelistTable">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in items">
                            <td class="hidden-xs">
                                {{list.shipmentNumber}}
                            </td>
                            <td class="hidden-xs">
                                {{list.usppiCompanyName}}
                            </td>
                            <td class="hidden-xs">
                                {{list.ultimateCompanyName}}
                            </td>
                            <td class="hidden-xs">
                                {{list.portofExport}}
                            </td>
                            <td class="hidden-xs">
                                {{list.portofUnloading}}
                            </td>
                            <td class="hidden-xs">
                                {{list.originState}}
                            </td>
                            <td class="hidden-xs">
                                {{list.usppiIDNumber}}
                            </td>
                            <td class="hidden-xs">
                                <button type="button" class="btn btn-xs btn-primary" ng-click="SelectTemplate(list.documentCommonID,list.id)" uib-tooltip="Edit"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </ng-form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-default" ng-click="closemodal('close')" action="cancel">Close</button>
    </div>


