<table ng-table="documentTable" class="table table-striped table-bordered table-hover" template-pagination="customPager">
    <thead>
        <tr class="bg-thead">
            <th class="text-left col-sm-1"></th>
            <th class="text-left col-sm-1">System Ref# </th>
            <th class="text-left col-sm-1">Booking No</th>
            <th class="text-left col-sm-1">Document No.</th>
            <th class="text-left col-sm-1">Enquiry No.</th>
            <th class="text-left col-sm-1">Quotation No.</th>
            <th class="text-left col-sm-3">Customer Name</th>
            <th class="text-left col-sm-3">Exportar Name</th>
            <th class="text-left col-sm-4">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in $data">
            <td class="text-left">
                <button type="button" class="btn btn-xs btn-primary" ng-click="performSubAction($event, null)" action="selectDocument" entityid="{{d.fileNo }}" doccommid="{{d.documentCommonId}}">Select</button>
            </td>
            <td class="text-left">
                {{d.fileNo}}
            </td>
            <td class="text-left">
                {{d.blNumber}}
            </td>
            <td class="text-left">
                {{d.documentNumber}}
            </td>
            <td class="text-left">
                {{d.enquiryNo}}
            </td>
            <td class="text-left">
                {{d.quotationNo}}
            </td>
            <td class="text-left">
                {{d.customerName}}
            </td>
            <td class="text-left">
                {{d.exporterName}}
            </td>
            <td class="text-left">
                {{d.status}}
            </td>
        </tr>
        <tr ng-if="params.total() == 0">
            <td class="text-center text-italic" colspan="5">No Record(s) Found</td>
        </tr>
    </tbody>
</table>