<div class="box-container form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-3 control-label text-left">DDTC USML Code</label>
        <div class="col-sm-3">&nbsp;</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <input type="text" class="form-control" name="NameF" ng-model="NameF"   custom-clear="true" />
        </div>
       
        <div class="pull-right">
            <button class="btn btn-sm btn-primary" ng-click="performAction($event)" action="search">Search</button>
        </div>
    </div>
</div>


