<div class="modal-header">
    <h3 class="modal-title">Add Rate</h3>
</div>
<div class="modal-body form-horizontal detail-container" when-ready="filterModalLoaded()" wait-for-interpolation="true">
    <ng-form class="form-horizontal detail-container" name="form.detail" novalidate="novalidate">
        <div class="form-group">
            <label class="col-sm-2 control-label">Origin</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="portOriginName" ng-model="portOriginName" ng-disabled="true" />
            </div>
            <label class="col-sm-2 control-label">Discharge</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="portDischargeName" ng-model="portDischargeName" ng-disabled="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Carrier</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="carrierName" ng-model="carrierName" ng-disabled="true" />
            </div>
            <label style="display:none;" class="col-sm-2 control-label">Remarks</label>
            <div   style="display:none;" class="col-sm-4">
                <input type="text" class="form-control" name="remarks" ng-model="remarks" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Transit Time</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="transitTime" ng-model="transitTime" />
            </div>
            <label class="col-sm-2 control-label">Frequency</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="frequency" ng-model="frequency" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                &nbsp;
            </div>
            <label class="col-sm-2 control-label">Enquiry Containers</label>
            <label class="col-sm-2 control-label">Type of Charge</label>
            <label class="col-sm-2 control-label">Buying Price</label>
            <label class="col-sm-2 control-label">Selling Price</label>
           
            <div class="col-sm-3">
                &nbsp;
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                &nbsp;
            </div>
            <div class="col-sm-2">
                <select class="form-control" name="containerItem" ng-model="containerItem" ng-options="t as t.name for t in enquiryContainers" ng-change="getContainerdetail(containerTypeId)" ng-disabled="disabledUpdate"></select>
            </div>
            <div class="col-sm-2">
                <select class="form-control" name="chargeItem" ng-model="chargeItem" ng-options="t as t.description for t in carrierAllCharges" ng-disabled="disabledUpdate"></select>
            </div>

            <div class="col-sm-2">
                <input type="number" min="0" max="999999999" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" maxlength="12" class="form-control" name="buyingRate" ng-model="buyingRate" ng-disabled="disabledUpdate" />
            </div>

            <div class="col-sm-2">
                <input type="number" min="0" max="999999999" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" maxlength="12" class="form-control" name="sellingRate" ng-model="sellingRate" ng-disabled="disabledUpdate" />
            </div>
            <div class="col-sm-3">
                &nbsp;
                </div>

            </div>
        <div class="form-group">
            <div class="col-sm-1">
                &nbsp;
            </div>
            
            <label class="col-sm-1 control-label">Freight Remark</label>
            <div class="col-sm-9">
                &nbsp;
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                &nbsp;
            </div>
            <div class="col-sm-6">
                <textarea rows="4" cols="50" class="form-control" min="0" maxlength="50" name="itemremark" ng-model="itemremark" ng-disabled="disabledUpdate" />
            </div>
            <div class="col-sm-2">
                <button name="btnChargesRow" type="button" class="btn btn-sm btn-primary" ng-click="addChargesRow()" action="add" entityid="0" uib-tooltip="Add Charges" ng-disabled="disabledUpdate"><i class="fa fa-pencil"></i>Add Charges</button>
            </div>
             </div>
            <div ng-show="carrierRates.length > 0">
                <table class="table table-striped table-bordered table-hover " template-pagination="none">
                    <thead>
                        <tr class="bg-thead">
                            <th class="text-left  hidden-xs">Container Name</th>
                            <th class="text-left  hidden-xs">Type of Charge</th>
                            <th class="text-left  hidden-xs">Buying Price</th>
                            <th class="text-left  hidden-xs">Selling Price</th>
                            <th class="text-left  hidden-xs">Remark</th>
                            <th class="list-actions">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="chargeItem in carrierRates  | orderBy : 'containerTypeName'">
                            <td>
                                {{chargeItem.containerTypeName}}
                            </td>
                            <td>
                                {{chargeItem.refName}}
                            </td>
                            <td>
                                {{chargeItem.buyingRate}}
                            </td>
                            <td>
                                {{chargeItem.sellingRate}}
                            </td>
                            <td>
                                {{chargeItem.itemremark}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-xs btn-danger" ng-click="removeChargesRow($index)" uib-tooltip="Delete" ng-disabled="disabledUpdate"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



</ng-form>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-sm btn-primary" ng-click="addCarrierCharges('update')" action="update">Save Rate</button>
        <button type="button" class="btn btn-default" ng-click="addCarrierCharges('close')" action="select">Close</button>
    </div>
</div>


