<p>&nbsp;</p>
<div class="form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label">Parameter Key</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="paramKey" ng-model="entity.paramKey" />
        </div>
        <label class="col-sm-2 control-label">Parameter Value</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="paramValue" ng-model="entity.paramValue" />
        </div>
    </div>
</div>