<p>&nbsp;</p>
<div class="form-horizontal detail-container">
    <div class="form-group">
       
        <label class="col-sm-2 control-label">Contact Category</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.name" />
        </div>
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.description" />
        </div>
        <label class="col-sm-2 control-label">Inside Length Inch</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.insideLengthInch" />
        </div>
        <label class="col-sm-2 control-label">Inside Length Meter</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.insideLengthMeter" />
        </div>
        <label class="col-sm-2 control-label">Inside Width Inch</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.insideWidthInch" />
        </div>
        <label class="col-sm-2 control-label">Inside Length Meter</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.insideWidthMeter" />
        </div>
        <label class="col-sm-2 control-label">Inside Height Inch</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.insideHeightInch" />
        </div>
        <label class="col-sm-2 control-label">Inside Height Meter</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.insideHeightMeter" />
        </div>
        <label class="col-sm-2 control-label">Door Height Inch</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.doorHeightInch" />
        </div>
        <label class="col-sm-2 control-label">Door Height Meter</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.doorHeightM" />
        </div> 
        <label class="col-sm-2 control-label">Conatiner Capacity cft</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.containerCapacitycft" />
        </div>
        <label class="col-sm-2 control-label">Container Capacity CM</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.containerCapacityCM" />
        </div>
        <label class="col-sm-2 control-label">Tare Weight Lbs</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.tareWeightLbs" />
        </div>
        <label class="col-sm-2 control-label">Tare Weight KGS</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.tareWeightKGS" />
        </div>
        <label class="col-sm-2 control-label">Maxi Cargo Lbs</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.maxiCargoLbs" />
        </div>
        <label class="col-sm-2 control-label">Maxi Cargo KGS</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.maxiCargoKGS" />
        </div>
        <label class="col-sm-2 control-label">Door Width Inch</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.doorwidthinch" />
        </div>
        <label class="col-sm-2 control-label">Door Width Meter</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.doorwidthM" />
        </div>
        <label class="col-sm-2 control-label">IsActive</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="isActive" ng-model="entity.isActive" />
        </div>
    </div>
</div>