<p>&nbsp;</p>
<div class="form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label">Department Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="dptId" ng-model="entity.dptId" />
        </div>
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="dptName" ng-model="entity.dptName" />
        </div>
    </div>
</div>