<div class="box-container form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label text-right">Network Name</label>
        <div class="col-sm-2">            
            <input type="text" class="form-control" name="companyNameF" ng-model="companyName" uib-typeahead="o.ffNetworkName for o in callTypeaheadnetwork($viewValue, 'freightforwardernetwork', 'companyName', null)" typeahead-on-select="selectTypeahead($item, $model, $label, $event)" ng-blur="validateTypeahead($event)" lookup-module="freightforwardernetwork" lookup-field="ffNetworkName" entity-key-field="FFNetworkID" custom-clear="true"/>
        </div>
        
        <label class="col-sm-2 control-label text-right">Company Name</label>
        <div class="col-sm-2">            
            <input type="text" class="form-control" name="customerCodeF" ng-model="customerCode" uib-typeahead="o.companyName for o in searchValuesCompany($viewValue, 'companyName')" typeahead-on-select="selectTypeahead($item, $model, $label, $event)" ng-blur="validateTypeahead($event)" lookup-module="freightforwardernetwork" lookup-field="customerCode" entity-key-field="FFNetworkID" custom-clear="true" />            
        </div>
    </div>
    
    <div class="form-group">
        
        <div class="col-sm-8">
            &nbsp;
        </div> 
        <div class="col-sm-2 pull-right">
            <button class="btn btn-sm btn-primary" ng-click="performCustomerContactSearch($event, companyName, customerCode, cntId, contactCategoryId,gradationId, orgCryId, commodityId, contID, cryId, stateId, cityID,siteId)" action="search">Search</button>
        </div>
    </div>
</div>


