<ng-form class="form-horizontal detail-container" name="form.detail" novalidate="novalidate">
    <p>&nbsp;</p>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredInsert ? 'required' : ''}}">Module Id</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="modId" ng-model="entity.modId" ng-disabled="disabledInsert" ng-required="requiredInsert" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Name</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="modName" ng-model="entity.modName" maxlength="200" ng-disabled="disabledUpdate" ng-required="requiredUpdate" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Caption</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="modCaption" ng-model="entity.modCaption" maxlength="200" ng-disabled="disabledUpdate" ng-required="requiredUpdate" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Module Type</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <select class="form-control" name="mteId" ng-model="entity.mteId" ng-options="t.mteId as t.mteCaption for t in lookups.moduleTypes" ng-disabled="disabledUpdate"></select>
        </div>
    </div>
</ng-form>