<p>&nbsp;</p>
<div class="form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label">Module Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="modId" ng-model="entity.modId" />
        </div>
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="modName" ng-model="entity.modName" />
        </div>
    </div>
</div>
