<p>&nbsp;</p>
<div class="form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label">Action Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="actId" ng-model="entity.actId" />
        </div>
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="actName" ng-model="entity.actName" />
        </div>
    </div>
</div>