<div class="box-container form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-3 control-label text-left">Module Type Name</label>
        <label class="col-sm-3 control-label text-left">Caption</label>
        <label class="col-sm-3 control-label text-left">&nbsp;</label>
        <div class="col-sm-3">&nbsp;</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <input type="text" class="form-control" name="MteNameF" ng-model="MteNameF" uib-typeahead="o.mteName for o in callTypeahead($viewValue, 'moduleType', 'mteName', null)" typeahead-on-select="selectTypeahead($item, $mteel, $label, $event)" ng-blur="validateTypeahead($event)" lookup-module="moduleType" lookup-field="mteName" entity-key-field="mteId" custom-clear="true" />
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="MteCaptionF" ng-model="MteCaptionF" uib-typeahead="o.mteCaption for o in callTypeahead($viewValue, 'moduleType', 'mteCaption', null)" typeahead-on-select="selectTypeahead($item, $model, $label, $event)" ng-blur="validateTypeahead($event)" lookup-module="moduleType" lookup-field="mteCaption" entity-key-field="mteId" custom-clear="true" />
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-3">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" ng-click="performAction($event)" action="search">Search</button>
            </div>
        </div>
    </div>
</div>