<div class="box-container form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-3 control-label text-left">Role Name</label>
        <label class="col-sm-3 control-label text-left">&nbsp;</label>
        <label class="col-sm-3 control-label text-left">&nbsp;</label>
        <div class="col-sm-3">&nbsp;</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <input type="text" class="form-control" name="RleNameF" ng-model="RleNameF" uib-typeahead="o.rleName for o in callTypeahead($viewValue, 'role', 'rleName', null)" typeahead-on-select="selectTypeahead($item, $rleel, $label, $event)" ng-blur="validateTypeahead($event)" lookup-module="role" lookup-field="rleName" entity-key-field="rleId" custom-clear="true" />
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-3">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" ng-click="performAction($event)" action="search">Search</button>
            </div>
        </div>
    </div>
</div>