<div class="box-container form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label text-right">Carrier Name</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="companyNameF" ng-model="companyNameF" uib-typeahead="o.name for o in searchValues($viewValue,'companyName')" />
        </div>
        <label class="col-sm-2 control-label text-right">Commodity</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="commodityF" ng-model="commodityF" uib-typeahead="o.name for o in searchValues($viewValue,'commodity')" />
        </div>
        <div class="col-sm-4">
            &nbsp;
        </div> 
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label text-right">Origin Country</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="originCountry" ng-model="originCountry" uib-typeahead="o.name for o in searchValues($viewValue,'originCountry')" />
        </div>
        <label class="col-sm-2 control-label text-right">Origin State</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="originState" ng-model="originState" uib-typeahead="o.name for o in searchValues($viewValue,'originState')" />
        </div>
        <label class="col-sm-2 control-label text-right">Origin City</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="originCity" ng-model="originCity" uib-typeahead="o.name for o in searchValues($viewValue,'originCity')" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label text-right">Destination Country</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dischargeCountry" ng-model="dischargeCountry" uib-typeahead="o.name for o in searchValues($viewValue,'dischargeCountry')" />
        </div>
        <label class="col-sm-2 control-label text-right">Destination State</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dischargeState" ng-model="dischargeState" uib-typeahead="o.name for o in searchValues($viewValue,'dischargeState')" />
        </div>
        <label class="col-sm-2 control-label text-right">Destination City</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dischargeCity" ng-model="dischargeCity" uib-typeahead="o.name for o in searchValues($viewValue,'dischargeCity')" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Port of Origin</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="originF" ng-model="originF" uib-typeahead="o.name for o in searchValues($viewValue,'portOfOrigin')" />
        </div>
        <label class="col-sm-2 control-label">Port of Discharge</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="dischargeF" ng-model="dischargeF" uib-typeahead="o.name for o in searchValues($viewValue,'portOfdischarge')" />
        </div>        
        <div class="col-sm-4">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" ng-click="performRouteSearch($event,companyNameF,originF,dischargeF,originCountry,originState,originCity,dischargeCountry,dischargeState,dischargeCity,commodityF)" action="search">Search</button>
            </div>
        </div>
    </div>

</div>
