<div class="box-container form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label">Department</label>
        <div class="col-sm-2">
            <select class="form-control" name="departmentID" ng-model=departmentID ng-options="t.departmentID as t.department for t in lookups.siplDepartments" ng-required="true"></select>
        </div>
        <label class="col-sm-2 control-label">Select</label>
        <div class="col-sm-2">
            <select class="form-control" name="searchOption" ng-model="selectOption" ng-options="item.optionValue as item.optionName for item in searchOptions"></select>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="searchBox" ng-model="searchBox" maxlength="100" uib-typeahead="o.name for o in searchValues($viewValue,selectOption)" />
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Destuffed</label>
        <div class="col-sm-2">
            <select ng-model="destuffed" class="form-control" name="destuffed">
                <option value="" ng-selected="">All</option>
                <option value="destuffed" >Container Destuffed</option>
                <option value="abandoned">Cargo Abandoned</option>
                <option value="notdestuffed">Container Not Destuffed</option>
            </select>
        </div>
        <label class="col-sm-2 control-label">Date Of ETA From</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="DateofDestuffedFrom" ng-model="DateofDestuffedFrom" input-date="true" show-time="false" />
        </div>
        <label class="col-sm-2 control-label">Date Of ETA To</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="DateofDestuffedTo" ng-model="DateofDestuffedTo" input-date="true" show-time="false" />
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-16">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" ng-click="performBookingSearch($event,selectOption,searchBox,departmentID,destuffed,DateofDestuffedFrom,DateofDestuffedTo)" action="search">Search</button>
                <button type="button" class="btn btn-sm btn-primary" ng-click="performBookingSearch($event,selectOption,searchBox,departmentID,destuffed,DateofDestuffedFrom,DateofDestuffedTo)" action="exportReport"><i class="fa fa-download"></i> Export to Excel</button>

            </div>
        </div>
    </div>
</div>
