<table ng-table="bookinglistTable" class="table table-striped table-bordered table-hover" template-pagination="customPager">
    <thead>
        <tr class="bg-thead"> 
            <th class="text-left hidden-xs" table-name="bookinglistTable">Booking Date</th>           
            <th class="text-left sortable hidden-xs" custom-sortable="fileNo" table-name="bookinglistTable">System Ref</th>            
            <th class="text-left sortable hidden-xs" custom-sortable="bookingNo" table-name="bookinglistTable">Booking No</th>            
            <th class="text-left sortable hidden-xs" custom-sortable="companyName" table-name="bookinglistTable">Customer</th>
            <th class="text-left hidden-xs" table-name="bookinglistTable">Origin</th>
            <th class="text-left hidden-xs" table-name="bookinglistTable">Port Of Loading</th>
            <th class="text-left hidden-xs" table-name="bookinglistTable">Destination</th>
            <th class="text-left hidden-xs" table-name="bookinglistTable">Shipping Line</th>
            <th class="text-left hidden-xs" table-name="bookinglistTable">Line BKG Type</th>
            <th class="list-actions">Edit Container</th>      
           
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entity in items"> 
            <td class="hidden-xs">
                {{entity.bookingDate | date:'MM/dd/yyyy'}}
            </td>            
            <td class="hidden-xs">
                {{entity.fileNo}}
            </td>
            <td class="hidden-xs">
                {{entity.bookingNo}}
            </td>            
            <td class="hidden-xs">
                {{entity.companyName}}
            </td>
            <td class="hidden-xs">
                {{entity.originDoor}}
            </td>
            <td class="hidden-xs">
                {{entity.portOfLoading}}
            </td>
            <td class="hidden-xs">
                {{entity.destination}}
            </td>
            <td class="hidden-xs">
                {{entity.shipper}}
            </td>
            <td class="hidden-xs">
                {{entity.pickupCategory}}
            </td>
            <td>
                <button type="button" class="btn btn-xs btn-primary" ng-click="showDocumentDetail($event, entity.documentCommonID,entity.fileNo,entity.exportRef,entity.blNumber)" show-action="20" action="add" entityid="{{entity.documentCommonID}}" uib-tooltip="Edit"><i class="fa fa-edit"></i></button>                
            </td>
        </tr>
        <tr ng-if="params.total() == 0">
            <td class="text-center text-italic" colspan="5">No Record(s) Found</td>
        </tr>
    </tbody>
</table>