<ng-form class="form-horizontal detail-container" name="form.detail" novalidate="novalidate">
    <p>&nbsp;</p>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Export Information Code</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="TransportMode" ng-model="entity.eic" maxlength="200" ng-disabled="disabledUpdate" ng-required="requiredUpdate" />
        </div>
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Description</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <textarea rows="2" class="form-control" name="TransportationCode" ng-model="entity.description" ng-disabled="disabledUpdate" />
        </div>
    </div>
    
    
    <div class="form-group">
        <label class="col-sm-2 control-label">is Active</label>
        <div class="col-sm-4 checkbox-control">
            <input type="checkbox" name="isActive" ng-model="entity.isActive" ng-disabled="disabledUpdate" />
        </div>
    </div>
</ng-form>