<p>&nbsp;</p>
<div class="form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label">State Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="ustName" ng-model="entity.ustName" />
        </div>
        <label class="col-sm-2 control-label">Abbrevation</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="ustAbbrev" ng-model="entity.ustAbbrev" />
        </div>
    </div>
</div>