<p>&nbsp;</p>
<div class="form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-2 control-label">ContactCategory</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="Name" ng-model="entity.name" />
        </div>
        <label class="col-sm-2 control-label">IsActive</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-disabled="true" name="isActive" ng-model="entity.isActive" />
        </div>
    </div>
</div>