<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AppMGL.Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--For DEV server deploy-->
    <!--<add name="AppMGL" connectionString="Data Source=52.86.145.63;Database=MIAMI;User Id=lgdev;Password=DARBMSeN;" providerName="System.Data.SqlClient" />-->
    <!--For QC server deploy-->
    <!--<add name="MIAMIEntities" connectionString="Data Source=(local);Database=MIAMI;User Id=lgdev;Password=5xpjxMBs;" providerName="System.Data.SqlClient" />-->
    <add name="MIAMIEntities" connectionString="Data Source=VIKAS;Database=MIAMI_May25;User Id=sa;Password=1984;" providerName="System.Data.SqlClient" />
    <add name="AppMGL" connectionString="Data Source=VIKAS;Database=MIAMI_May25;User Id=sa;Password=1984;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="2.0.1.170701" />
    <add key="ApiPath" value="http://localhost/AppMGL/" />
    <!--<add key="ApiPath" value="https://lo-expert.miamigloballines.com:443/AppMGL/" />-->
    <add key="WebPath" value="http://localhost/MGL/" />
    <!--<add key="WebPath" value="https://lo-expert.miamigloballines.com:443/MGL/" />-->
    <add key="MaxFailedAccess" value="3" />
    <add key="TokenExpire" value="1440" />
    <add key="ExpiryDays" value="-30" />
    <add key="LogLevel" value="Information" />
    <add key="LogsPath" value="~/Logs" />
    <add key="TempPath" value="~/Temp" />
    <add key="FilePath" value="~/FileSystem" />
    <add key="CustomerPath" value="~/CustomerFiles" />
    <add key="DocumentsPath" value="~/Documents" />
    <add key="BookingDocPath" value="~/Documents/Booking" />
    <add key="OtherDocPath" value="~/Documents/Other" />
    <add key="ShipperDocPath" value="~/Documents/Shipper" />
    <add key="CODocPath" value="~/Documents/CO" />
    <add key="DockReceiptPath" value="~/Documents/DockReceipt" />
    <add key="HBLDocPath" value="~/Documents/HBL" />
    <add key="MBLDocPath" value="~/Documents/MBL" />
    <add key="UserProfile" value="~/UserProfile" />
    <add key="QuotationTracking" value="~/Documents/QuotationTracking" />
    <add key="RSUsername" value="admin" />
    <add key="RSPassword" value="xxxx" />
    <add key="RSWUsername" value="administrator" />
    <!--For DEV-->
    <!--<add key="RSWPassword" value="Kingadmin!123" />-->
    <!--For QC / PROD-->
    <add key="RSWPassword" value="Carefull!123" />
    <add key="RSWDomain" value="" />
    <add key="clientid" value="ABNc4MQOOSoh0fKaEW0v64bXLlhKvQketg96hpAiO7wZDxEhIb" />
    <add key="clientsecret" value="84U8ZTkh3p5WEIJuIxMst9n8OOIbrCsKAhjlVrxe" />
    <add key="realmid" value="193514472235194" />
    <add key="tokenEndpoint" value="https://developer.api.intuit.com/v2/oauth2/tokens/revoke" />
    <add key="QBOBaseUrl" value="https://quickbooks.api.intuit.com/" />
    <add key="AccessToken" value="eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..Jmi2FmPEWvXAjDHv18Siog.pG4K8zsJaXpgHT-fhAE6GtTEaluwUqKE5SCP-V10jvWt5mmyGRO312Lssz3KNe36JHFW056h8aPWyupQuce9ISD0zrmyRgYjGYmRTv0DUhSmjguZsm2fSMw70INQszTNd6uk-FH16YcEOdQR8er7JpzVfytup0WL57JguMp7WlA_GNpMRVgGVgrVD9ET6RZSkAqM-h4KO6FqAKjZR5rDuEdSqVq2tCjkHTzVNtkQb7zasiSgfvyFhZaPm8hM-O-8jCK33JxRmnEb7z4FKYQrPaRcDhXTXDFdasSZVHF4NBMDi5CJA5SMGhHicVOIqPAFN61QhL50FVHJyGzjy3DKDkisDAOGmIkO9dwlgf0-zLJhkWZ3IFHsWgsQQGEM5AlA_LnbhaKh0azPiV7-e2XH9nFt1KNFIWGeSV-6yE7cv2kuNPsfsGHASklvniInJi28iZto-roQtvCSfY8I3EPhTDvqUUAd9jHNnCGOwkqymQKLIioH5Zd3ZbE6fot65dT8lvzPbS-lgcQ5AaqKU7LRYPGit8SCXMi5L8yMc0us-63yp9HPuKIZ9YRGfXgDFOoNITWRXANL8kDDkG-PoYOLSjjCQiF467M77lBCzINL5Powkakx0GUtJVfyv7YJLugqbWaRNTOXdQAsFffHcDgu0BU-bs9XYU7rgftWelCb2rNgfW54aJqwGkrGfGrGCh3W-o1JjJy8HjlgIUBfJxZyxi6X_NEk3D2lciNcGG4oubkAzEpo5jVO7_6ZFtlfVgMx.XyRwKbbcuRvjVhjdtxM64Q" />
    <add key="redirectURI" value="https://lo-expert.miamigloballines.com/AppMGL/default.aspx" />
    <add key="appEnvironment" value="production" />
    <add key="logPath" value="F:\\Logs\\" />
    <add key="importinlandkey" value="70" />
    <add key="importfreightkey" value="111" />
    <add key="importotherkey" value="30" />
    <add key="importcourierkey" value="22" />
    <add key="exportinlandkey" value="142" />
    <add key="exportfreightkey" value="141" />
    <add key="exportotherkey" value="36" />
    <add key="exportcourierkey" value="22" />
    <add key="AesUploadFilePathRoot" value="aes/cmdtyfiling/" />
    <add key="AesUploadFilePath" value="aes/cmdtyfiling/input/" />
    <add key="AesDownloadFilePath" value="aes/cmdtyfiling/output/" />
    <add key="DFTPUser" value="miaglobal01c" />
    <add key="DFTPPass" value="li8Kv1wq5BiUa@m" />
    <add key="DFTPHost" value="transfer-dev.cbp.dhs.gov" />
    <add key="FTPUser" value="miaglobal01p" />
    <add key="FTPPass" value="MEZVqG16RbzXry$" />
    <add key="FTPHost" value="transfer.cbp.dhs.gov" />
    <add key="insurance" value="140" />
    <add key="desc" value="143" />
    <add key="exportClassId" value="1400000000000746927" />
    <add key="importClassId" value="1400000000000746933" />
    <add key="TermsRefID" value="1" />
    <add key="SalesRep" value="2" />
    <add key="ETA" value="7" />
   <add key="ImportContactPath" value="~/Documents/ImportContact" />
   <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
   <add key="AESDocPath" value="~/Documents/AESDOC" />
   <add key="LineMBLPath" value="~/Documents/LINEMBL" />
   <add key="client_idemail" value="382d8037-fca5-4930-943e-56d6aac7ff7e" />
   <add key="client_secretemail" value="svc8Q~g.9BNk3A.FJZxUHuXSwL.aJo-VZpkKics-" />
   <add key="tenantemail" value="19fa19a9-4e29-4855-809b-a636f18389e4" />  
  <add key="crmemail" value="crm@miamigloballines.com" />
  <add key="EASendEmailLicense" value="ES-F1723106400-00110-761449F53B5333C2-86C5B85DA5319D61"/>
	<add key="EAGetEmailLicense" value="EG-D1710817841-00106-1312738FETE49615-898C8C656F13A9F1"/>
  <add key="externaluserrole" value="101,100"/>
    <add key="titleid" value="105"/>
    <add key="deptid" value="104"/>
    <add key="cntTypeId" value="1"/>
    <add key="createUserSiteId" value="136"/>
    <add key="createUserCwtId" value="2"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" executionTimeout="900000"  />
      </system.Web>
  -->
  <intuit>
    <ipp>
      <service>
        <!-- Configure Base URL to point to any environment other than Production (default)-->
        <baseUrl qbo="https://quickbooks.api.intuit.com/" />
      </service>
      <logger>
        <!-- To enable/diSable Request and Response log-->
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="F:\IdsLogs" />
      </logger>
    </ipp>
  </intuit>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.6" executionTimeout="900000" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="Noreply@miamigloballines.com" deliveryMethod="Network">
        <network host="smtp.office365.com" port="587" userName="Noreply@miamigloballines.com" password="Reply123!" enableSsl="true" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <AppMGL.Manager.Properties.Settings>
      <setting name="AppMGL_Manager_ReportExecutionProvider_ReportExecutionService" serializeAs="String">
        <!--For DEV-->
        <!--<value>http://52.86.145.63/ReportServer/ReportExecution2005.asmx</value>-->
        <!--For QC / PROD-->
        <value>http://win-272lfgc4n37/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <setting name="AppMGL_Manager_ReportServiceProvider_ReportingService2010" serializeAs="String">
        <!--For DEV-->
        <!--<value>http://52.86.145.63/ReportServer/ReportService2010.asmx</value>-->
        <!--For QC / PROD-->
        <value>http://win-272lfgc4n37/ReportServer/ReportService2010.asmx</value>
      </setting>
    </AppMGL.Manager.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: A4558FBD-6F8F-4FD1-A87A-46DD34FAF459-->