<ng-form class="form-horizontal detail-container" name="form.detail" novalidate="novalidate">
    <p>&nbsp;</p>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredInsert ? 'required' : ''}}">Title Name</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="tmzName" ng-model="entity.tmzName" ng-disabled="disabledInsert" ng-required="requiredInsert" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Offset</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="tmzOffset" ng-model="entity.tmzOffset" maxlength="200" ng-disabled="disabledUpdate" ng-required="requiredUpdate" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Abbrevation</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="tmzAbbrev" ng-model="entity.tmzAbbrev" maxlength="200" ng-disabled="disabledUpdate" ng-required="requiredUpdate" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label {{requiredUpdate ? 'required' : ''}}">Location</label>
        <div class="col-sm-4" show-errors="{ skipFormGroupCheck: true }">
            <input type="text" class="form-control" name="tmzLocation" ng-model="entity.tmzLocation" maxlength="200" ng-disabled="disabledUpdate" ng-required="requiredUpdate" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-4 checkbox-control">
            <input type="checkbox" name="tmzStatus" ng-model="entity.tmzStatus" ng-disabled="disabledUpdate" />
        </div>
    </div>
</ng-form>