<div class="box-container form-horizontal detail-container">
    <div class="form-group">
        <label class="col-sm-3 control-label text-left">Timezone Name</label>
        <label class="col-sm-3 control-label text-left">Offset</label>
        <label class="col-sm-3 control-label text-left">Abbrevation</label>
        <div class="col-sm-3">&nbsp;</div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <input type="text" class="form-control" name="TmzNameF" ng-model="TmzNameF" uib-typeahead="o.tmzName for o in callTypeahead($viewValue, 'timezone', 'tmzName', null)" typeahead-on-select="selectTypeahead($item, $model, $label, $event)" ng-blur="validateTypeahead($event)" lookup-module="timezone" lookup-field="tmzName" entity-key-field="tmzId" custom-clear="true" />
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="TmzOffsetF" ng-model="TmzOffsetF" uib-typeahead="o.tmzOffset for o in callTypeahead($viewValue, 'timezone', 'tmzOffset', null)" typeahead-on-select="selectTypeahead($item, $model, $label, $event)" ng-blur="validateTypeahead($event)" lookup-module="timezone" lookup-field="tmzOffset" entity-key-field="tmzId" custom-clear="true" />
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="TmzAbbrevF" ng-model="TmzAbbrevF" uib-typeahead="o.tmzAbbrev for o in callTypeahead($viewValue, 'timezone', 'tmzAbbrev', null)" typeahead-on-select="selectTypeahead($item, $model, $label, $event)" ng-blur="validateTypeahead($event)" lookup-module="timezone" lookup-field="tmzAbbrev" entity-key-field="tmzId" custom-clear="true" />
        </div>
        <div class="col-sm-3">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" ng-click="performAction($event)" action="search">Search</button>
            </div>
        </div>
    </div>
</div>